<form class="content">
  <h1>
    Lembrete: <i>{{ lembrete.titulo }}</i>
  </h1>

  <mat-form-field class="form">
    <mat-label>Título</mat-label>
    <input
      matInput
      placeholder="Título"
      [(ngModel)]="lembrete.titulo"
      [formControl]="titulo"
      name="titulo"
    />
    <mat-error *ngIf="titulo.invalid">{{ getTitulo() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <textarea
      matInput
      placeholder="Descrição"
      [(ngModel)]="lembrete.descricao"
      [formControl]="descricao"
      name="descricao"
    ></textarea>
    <mat-error *ngIf="descricao.invalid">{{ getDescricao() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <textarea
      matInput
      placeholder="Autor"
      [(ngModel)]="lembrete.autor"
      [formControl]="autor"
      name="autor"
    ></textarea>
    <mat-error *ngIf="autor.invalid">{{ getAutor() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Data</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="lembrete.data"
      name="data"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="lembrete.status" name="status">
      <mat-option *ngFor="let status of statusOption" [value]="status">
        {{status}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="autor.invalid">{{ getStatus() }}</mat-error>
  </mat-form-field>

  <div class="button">
    <button class="button" color="primary" mat-raised-button (click)="update()">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button class="button" mat-raised-button (click)="cancel()">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </div>
</form>
