<div class="content">
  <div class="title">
    <h1>CATEGORIAS</h1>
  </div>

  <div class="body">
    <div class="search">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="" search (keyup)="applyFilter($event)" #input/>
      </mat-form-field>
    </div>
    <div class="buttonCreate">
      <button
        mat-raised-button
        color="primary"
        title="Cadastrar Nova Categoria"
        routerLink="/categorias/create"
      >
        <mat-icon>add</mat-icon>
        Cadastrar
      </button>
    </div>

    <!-- Tabela para exibir as categorias da api -->
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <!-- Coluna de ações -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action">AÇÕES</th>
        <td mat-cell class="actionChild" *matCellDef="let categoria">
          <button
            mat-icon-button
            title="Editar"
            routerLink="update/{{ categoria.id }}"
          >
            <mat-icon class="buttonACtion edit">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Excluir"
            routerLink="delete/{{ categoria.id }}"
          >
            <mat-icon class="buttonACtion delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coluna de id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="header id">ID</th>
        <td mat-cell *matCellDef="let categoria">{{categoria.id}}</td>
      </ng-container>

      <!-- Coluna de nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="header">NOME</th>
        <td mat-cell *matCellDef="let categoria">{{categoria.nome}}</td>
      </ng-container>

      <!-- Coluna de descricao -->
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef class="header desc">DESCRIÇÃO</th>
        <td mat-cell class="desc" *matCellDef="let categoria">
          {{categoria.desc}}
        </td>
      </ng-container>

      <!-- Coluna Lembrete -->
      <ng-container matColumnDef="lembrete">
        <th mat-header-cell *matHeaderCellDef class="header">LEMBRETES</th>
        <td mat-cell *matCellDef="let categoria">
          <a
            mat-icon-button
            title="Lembrete"
            routerLink="{{ categoria.id }}/lembretes"
          >
            <mat-icon class="buttonEvent">event</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="bgTr"
      ></tr>

      <!-- Quando não exister dados na pesquisa do filtro -->
      <tr *matNoDataRow="">
        <td class="mat-cell" colspan="4">Não foi poosível encontrar nenhum filtro relacionado à pesquisa <i>{{ input.value }} </i></td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons>
    </mat-paginator>
  </div>

  <div class="footer">
    <button
      mat-fab
      color="primary"
      aria-label="add"
      class="add"
      routerLink="/categorias/create"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
