<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <!-- Se o sidenav estiver aberto exibir o ícone close -->
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      <!-- Se o sidenav estiver fechado exibir o ícone menu -->
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>

    </button>
    <h1>ToDo</h1>
    <a href="mailto:matheusnery345@gmail.com" class="email-icon" target="_blank">
      <mat-icon matTooltip="Envie-me um e-mail">contact_mail</mat-icon>
    </a>
    <!-- Redirecionar para o Linkedin -->
    <a href="https://www.linkedin.com/in/NeryMatheus/" class="linkedin-icon" target="_blank">
      <img src="../../../../assets/icones/linkedin.svg" alt="Meu LinkedIn" matTooltip="Meu LinkedIn">
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a routerLink="/" mat-list-item>
        <mat-icon class="icons">home</mat-icon>
        Início
      </a>
      <a mat-list-item routerLink="/categorias">
        <mat-icon class="icons">category</mat-icon>
        Categorias
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>