<form class="content">
    <h1>
      Lembrete: <i>{{ lembrete.titulo }}</i>
    </h1>

    <mat-form-field class="form">
      <mat-label>Título</mat-label>
      <input
        matInput
        placeholder="Título"
        [(ngModel)]="lembrete.titulo"
        name="titulo"
        readonly="true"
      />
    </mat-form-field>

    <mat-form-field class="form">
      <textarea
        matInput
        placeholder="Descrição"
        [(ngModel)]="lembrete.descricao"
        name="descricao"
        readonly="true"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form">
      <textarea
        matInput
        placeholder="Autor"
        [(ngModel)]="lembrete.autor"
        name="autor"
        readonly="true"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>Data</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="lembrete.data"
        name="data"
        readonly="true"
      />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form">
      <textarea
        matInput
        placeholder="Status"
        [(ngModel)]="lembrete.status"
        name="status"
        readonly="true"
      ></textarea>
    </mat-form-field>

    <div class="button">
      <button class="button" color="primary" mat-raised-button (click)="deletar()">
        <mat-icon>delete</mat-icon>
        Excluir
      </button>
      <button class="button" mat-raised-button (click)="cancel()">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>
    </div>
    
  </form>
  