<div class="content">
  <div class="title">
    <h1>LEMBRETES</h1>
  </div>

  <div class="body">
    <div class="buttonCreate">
      <button
        mat-raised-button
        color="primary"
        title="Cadastrar Novo Lembrete"
        routerLink="/lembretes/create"
      >
        <mat-icon>add</mat-icon>
        Cadastrar
      </button>
    </div>

    <div class="buttonBack">
      <button
        mat-raised-button
        title="Voltar para Categorias"
        routerLink="/categorias"
        style="background-color: white"
      >
        <mat-icon>keyboard_return</mat-icon>
        Voltar
      </button>
    </div>

    <!-- Tabela para exibir as categorias da api -->
    <table mat-table class="mat-elevation-z8" [dataSource]="lembretes">
      <!-- Coluna de ações -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action">AÇÕES</th>
        <td mat-cell class="actionChild" *matCellDef="let lembrete">
          <button
            mat-icon-button
            title="Visualizar"
            color="primary"
            routerLink="{{ lembrete.id }}/read"
          >
            <mat-icon class="buttonACtion">visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Editar"
            routerLink="update/{{ lembrete.id }}"
          >
            <mat-icon class="buttonACtion edit">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Excluir"
            routerLink="delete/{{ lembrete.id }}"
          >
            <mat-icon class="buttonACtion delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Coluna de id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="header id">ID</th>
        <td mat-cell *matCellDef="let lembrete">{{lembrete.id}}</td>
      </ng-container>

      <!-- Coluna de nome -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef class="header titulo">TÍTULO</th>
        <td mat-cell *matCellDef="let lembrete">{{lembrete.titulo}}</td>
      </ng-container>

      <!-- Coluna do status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="header">STATUS</th>
        <td mat-cell class="status" *matCellDef="let lembrete">
          {{lembrete.status}}
        </td>
      </ng-container>

      <!-- Coluna Lembrete -->
      <ng-container matColumnDef="lembrete">
        <th mat-header-cell *matHeaderCellDef class="header">LEMBRETES</th>
        <td mat-cell *matCellDef="let lembrete">
          <a
            mat-icon-button
            title="Lembrete"
            routerLink="{{ lembrete.id }}/lembretes"
          >
            <mat-icon class="buttonEvent">event</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="bgTr"
      ></tr>
    </table>
  </div>

  <div class="footer">
    <button
      mat-fab
      color="primary"
      aria-label="add"
      class="add"
      routerLink="lembretes/create"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
