<mat-card class="conteiner mat-elevation-z4">
  <mat-card-header class="header">
    <div mat-card-avatar class="image-header"></div>
    <mat-card-title>Matheus Nery</mat-card-title>
    <mat-card-subtitle>Desenvolvedor Júnior</mat-card-subtitle>
  </mat-card-header>
  <img
  class="image-body"
    mat-card-image
    src="../../../../assets/fotos/3.jpg"
    alt="Foto em frente ao Hospital das Clínicas Buenos Aires - Argentina"
  />
  <mat-card-content>
    <p class="texto">
      Analista de Sistemas Júnior, com experiência de atuação em projetos de
      empresas nacionais. Iniciei no desenvolvimento em meados de 2016 logo após
      começar minha graduação e em dezembro de 2021 iniciei no mercado de
      trabalho. Minhas experiências são PHP, Javascript, Typescript, Java,
      Angular, Spring Boot e outras tecnologias que utilizo para a criação de
      sistemas web. Sempre focado em superar/aprender com novos desafios,
      linguagens, frameworks de forma ágil. Palavras que me definem: foco,
      determinação, esforço, proatividade.
    </p>
  </mat-card-content>
</mat-card>
