.conteiner {
  max-width: 600px;
  margin: 3vh auto;
  background-color: transparent;
}

.header{
    background-color: transparent;
}

/* .image-body {
    width: 600px;
    height: 500px;
} */

.texto{
    font-size: medium;
    text-align: justify;
}